{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<section class="sub-header">
  <h1 class="titulo-form">Listado de productos</h1>
  <a href="{% url 'product_new' %}"><button class="btn btn-primary">Añadir Producto</button></a>
</section>
<hr>

<section class="section-cards">
    {% for product in products %}

    <div class="card w-96 bg-base-100 shadow-xl">
     <figure><img src="{{product.Imagen.url}}" alt=""  /></figure>
     <div class="card-body">
       <h2 class="card-title">{{product.Nombre}}</h2>
       <p>{{product.Descripcion}}</p>
       <p>Precio unitario: {{product.Precio}}€</p>
       <p>Stock disponible: {{product.Stock }}</p>
       <div class="card-actions justify-end">
        <a href="{% url 'product_get' product.ProductoID %}"><button class="btn btn-info">Modificar</button></a>

        <form action="{% url 'product_delete' product.ProductoID %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-error">Eliminar</button>
        </form>

       </div>
     </div>
    </div>
 
    {% endfor %}
</section>


{% endblock %}