{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1>PRODUCTOS</h1> <a href="{% url 'product_new' %}"><button class="btn btn-primary"> + PRODUCTO </button></a>

<section class="section-cards">
    {% for product in products %}

    <div class="card w-96 bg-base-100 shadow-xl">
     <figure><img src="{{product.Imagen.url}}" alt=""  /></figure>
     <div class="card-body">
       <h2 class="card-title">{{product.Nombre}}</h2>
       <p>{{product.Descripcion}}</p>
       <div class="card-actions justify-end">
         <button class="btn btn-primary">Modificar</button>
       </div>
     </div>
    </div>
 
    {% endfor %}
</section>


{% endblock %}