{% extends 'layouts/base.html' %}

{% load static %}


{% block content %}

<div class="hero min-h-screen" style="background-image: url(https://i.pinimg.com/originals/1c/07/08/1c0708a88937e5970cf48c40e7db6a7f.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl title">SMART STOCK MANAGER <mark class="[&::selection]:text-base-content relative col-start-1 row-start-1 bg-[linear-gradient(90deg,theme(colors.error)_0%,theme(colors.secondary)_9%,theme(colors.secondary)_42%,theme(colors.primary)_47%,theme(colors.accent)_100%)] bg-clip-text [-webkit-text-fill-color:transparent] [&::selection]:bg-blue-700/20 [@supports(color:oklch(0_0_0))]:bg-[linear-gradient(90deg,oklch(var(--s))_4%,color-mix(in_oklch,oklch(var(--s)),oklch(var(--er)))_22%,oklch(var(--p))_45%,color-mix(in_oklch,oklch(var(--p)),oklch(var(--a)))_67%,oklch(var(--a))_100.2%)]"> - AI SOLUTIONS FOR BUSSINES</mark> </h1>
        <p class="mb-5 sub-title">
            Eleva tu negocio con SSM. Funciones avanzadas de análisis predictivo. Toma el control, reduce costos y maximiza tus ganancias. ¡Potencia tu éxito empresarial con nosotros!
        </p>
        <button class="btn btn-outline btn-secondary btn-title">Get Started</button>
      </div>
    </div>
</div>


<section class="show-section">

<h1 class="show-title">Todo lo que podemos hacer por ti</h1>

<div class="show-section-div">
    <div class="show-izquierda">
        <h1>Gestiona a tus clientes y proveedores</h1>
        <p>Con Smart Stock Manager podrás gestionar a todos tus clientes y proveedores en unos pocos clicks. Ten toda la información de sobre tu negocio a mano en todo momento.</p>
        <button class="btn btn-secondary">Ver más</button>
    </div>
    
    <div class="show-derecha">
        <div class="mockup-window border bg-base-300">
            <div class="flex justify-center px-4 py-16 bg-base-200 mockup"></div>
          </div>
    </div>
</div>

<div class="show-section-div">
    
    <div class="show-derecha2">
        <div class="mockup-window border bg-base-300">
            <div class="flex justify-center px-4 py-16 bg-base-200 mockup2"></div>
          </div>
    </div>
    <div class="show-izquierda2">
        <h1>Genera facturas y pedidos</h1>
        <p>Crea hojas de pedidos y facturas. Recibe alertas cuando el stock este a punto de agotarse y generá informes de previsiones de ventas.</p>
        <button class="btn btn-secondary">Ver más</button>
    </div>
</div>

<h1 class="show-title">Gestiona tu almacen</h1>

<div class="mockup-browser border bg-base-300 dash">
  <div class="mockup-browser-toolbar">
    <div class="input">https://smartstockmanager.com</div>
  </div>
  <div class="flex justify-center px-4 py-16 bg-base-200 mockup3"></div>
</div>

</section>

<section class="enterprises-section">
    <h1 class="show-title">Confian en nosotros</h1>
    <div class="enterprises-imgs">
        <img src="{% static 'images/emp1.svg' %}" alt="">
        <img src="{% static 'images/emp2.svg' %}" alt="">
        <img src="{% static 'images/emp3.svg' %}" alt="">
        <img src="{% static 'images/emp4.svg' %}" alt="">
        <img src="{% static 'images/emp5.svg' %}" alt="">
        <img src="{% static 'images/emp6.svg' %}" alt="">
    </div>
</section>

<section class="pricing-section">
    <div class="min-h-screen flex justify-center items-center">
        <div class="">
            <div class="text-center font-semibold">
                <h1 class="text-5xl">
                    <span class="text-blue-700 tracking-wide">Planes </span>
                    <span>Flexibles</span>
                </h1>
                <p class="pt-6 text-xl text-gray-400 font-normal w-full px-8 md:w-full">
                    Elige el plan de trabajo que <br/> mejor se adapte a ti.
                </p>
            </div>
            <div class="pt-24 flex flex-row">
                <!-- Card -->
                <div class="w-96 p-8 bg-white text-center rounded-3xl pr-16 shadow-xl">
                    <h1 class="text-black font-semibold text-2xl">FREE!</h1>
                    <p class="pt-2 tracking-wide">
                        <span class="text-gray-400 align-top">$ </span>
                        <span class="text-3xl font-semibold">0</span>
                    </p>
                    <hr class="mt-4 border-1">
                    <div class="pt-8">
                        <p class="font-semibold text-gray-400 text-left">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                Gestiona tu  <span class="text-black">almacen</span>
                            </span>
                        </p>
                        <p class="font-semibold text-gray-400 text-left pt-5">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                Acceso a <span class="text-black">analisis básicos</span>
                            </span>
                        </p>
                        <p class="font-semibold text-gray-400 text-left pt-5">
                            <span class="material-icons align-middle">
                                
                            </span>
                            <span class="pl-2">
                                <span class="text-black"></span> 
                            </span>
                        </p>

                        <a href="#" class="">
                            <p class="w-full py-4 bg-blue-600 mt-8 rounded-xl text-white">
                                <span class="font-medium">
                                    Elegir Plan
                                </span>
                                <span class="pl-2 material-icons align-middle text-sm">
                                    east
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
                <!-- Card -->
                <div class="w-80 p-8 bg-gray-900 text-center rounded-3xl text-white border-4 shadow-xl border-white transform scale-125">
                    <h1 class="text-white font-semibold text-2xl">PYMES</h1>
                    <p class="pt-2 tracking-wide">
                        <span class="text-gray-400 align-top">$ </span>
                        <span class="text-3xl font-semibold">19,99</span>
                    </p>
                    <hr class="mt-4 border-1 border-gray-600">
                    <div class="pt-8">
                        <p class="font-semibold text-gray-400 text-left">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                Predicción de<span class="text-white"> stock</span>
                            </span>
                        </p>
                        <p class="font-semibold text-gray-400 text-left pt-5">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                Automatiza <span class="text-white">pedidos</span>
                            </span>
                        </p>
                        <p class="font-semibold text-gray-400 text-left pt-5">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                <span class="text-white">Analitica </span> avanzada
                            </span>
                        </p>

                        <a href="#" class="">
                            <p class="w-full py-4 bg-blue-600 mt-8 rounded-xl text-white">
                                <span class="font-medium">
                                    Elegir Plan
                                </span>
                                <span class="pl-2 material-icons align-middle text-sm">
                                    east
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="absolute top-4 right-4">
                        <p class="bg-blue-700 font-semibold px-4 py-1 rounded-full uppercase text-xs">Popular</p>
                    </div>
                </div>
                <!-- Card -->
                <div class="w-96 p-8 bg-white text-center rounded-3xl pl-16 shadow-xl">
                    <h1 class="text-black font-semibold text-2xl">PREMIUM</h1>
                    <p class="pt-2 tracking-wide">
                        <span class="text-gray-400 align-top">$ </span>
                        <span class="text-3xl font-semibold">39,99</span>
                    </p>
                    <hr class="mt-4 border-1">
                    <div class="pt-8">
                        <p class="font-semibold text-gray-400 text-left">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                Todas las funcionalidades <span class="text-black">anteriores</span>
                            </span>
                        </p>
                        <p class="font-semibold text-gray-400 text-left pt-5">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                Gestor de <span class="text-black">campañas</span>
                            </span>
                        </p>
                        <p class="font-semibold text-gray-400 text-left pt-5">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                <span class="text-black">Asesor</span> personal
                            </span>
                        </p>

                        <a href="#" class="">
                            <p class="w-full py-4 bg-blue-600 mt-8 rounded-xl text-white">
                                <span class="font-medium">
                                    Elegir Plan
                                </span>
                                <span class="pl-2 material-icons align-middle text-sm">
                                    east
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer p-10 bg-base-200 text-base-content">
    <aside>
      <svg width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="fill-current"><path d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path></svg>
      <p> - Smart Stock Manager - <br/>Es un producto ficticio, generado para el aprendizaje personal. </p>
    </aside> 
    <nav>
        <header class="footer-title">SSM</header> 
        <a class="link link-hover">Productos</a>
        <a class="link link-hover">Proveedores</a>
        <a class="link link-hover">Clientes</a>
        <a class="link link-hover">Compras</a>
        <a class="link link-hover">Ventas</a>
      </nav> 
    <nav>
      <header class="footer-title">Servicios</header> 
      <a class="link link-hover">Gestión de Stock</a>
      <a class="link link-hover">Generación de Pedidos y Facturas</a>
      <a class="link link-hover">Previsión de Ventas</a>
    </nav> 
    <nav>
      <header class="footer-title">Social</header> 
      <a class="link link-hover">GitHub</a>
      <a class="link link-hover">Linkedin</a>
    </nav>
  </footer>
{% endblock %}