{% extends 'layouts/base.html' %}

{% load static %}


{% block content %}

<div class="hero min-h-screen" style="background-image: url(https://i.pinimg.com/originals/1c/07/08/1c0708a88937e5970cf48c40e7db6a7f.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl title">SMART STOCK MANAGER <mark class="[&::selection]:text-base-content relative col-start-1 row-start-1 bg-[linear-gradient(90deg,theme(colors.error)_0%,theme(colors.secondary)_9%,theme(colors.secondary)_42%,theme(colors.primary)_47%,theme(colors.accent)_100%)] bg-clip-text [-webkit-text-fill-color:transparent] [&::selection]:bg-blue-700/20 [@supports(color:oklch(0_0_0))]:bg-[linear-gradient(90deg,oklch(var(--s))_4%,color-mix(in_oklch,oklch(var(--s)),oklch(var(--er)))_22%,oklch(var(--p))_45%,color-mix(in_oklch,oklch(var(--p)),oklch(var(--a)))_67%,oklch(var(--a))_100.2%)]"> - AI SOLUTIONS FOR BUSSINES</mark> </h1>
        <p class="mb-5 sub-title">
            Eleva tu negocio con SSM. Funciones avanzadas de análisis predictivo. Toma el control, reduce costos y maximiza tus ganancias. ¡Potencia tu éxito empresarial con nosotros!
        </p>
        <button class="btn btn-outline btn-secondary btn-title">Get Started</button>
      </div>
    </div>
</div>

<section class="enterprises-section">
    <h1>Confian en nosotros</h1>
    <div class="enterprises-imgs">
        <img src="{% static 'images/emp1.svg' %}" alt="">
        <img src="{% static 'images/emp2.svg' %}" alt="">
        <img src="{% static 'images/emp3.svg' %}" alt="">
        <img src="{% static 'images/emp4.svg' %}" alt="">
        <img src="{% static 'images/emp5.svg' %}" alt="">
        <img src="{% static 'images/emp6.svg' %}" alt="">
    </div>
</section>

<section class="pricing-section">
    <div class="min-h-screen flex justify-center items-center">
        <div class="">
            <div class="text-center font-semibold">
                <h1 class="text-5xl">
                    <span class="text-blue-700 tracking-wide">Planes </span>
                    <span>Flexibles</span>
                </h1>
                <p class="pt-6 text-xl text-gray-400 font-normal w-full px-8 md:w-full">
                    Elige el plan de trabajo que <br/> mejor se adapte a ti.
                </p>
            </div>
            <div class="pt-24 flex flex-row">
                <!-- Card -->
                <div class="w-96 p-8 bg-white text-center rounded-3xl pr-16 shadow-xl">
                    <h1 class="text-black font-semibold text-2xl">FREE!</h1>
                    <p class="pt-2 tracking-wide">
                        <span class="text-gray-400 align-top">$ </span>
                        <span class="text-3xl font-semibold">0</span>
                    </p>
                    <hr class="mt-4 border-1">
                    <div class="pt-8">
                        <p class="font-semibold text-gray-400 text-left">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                Gestiona tu  <span class="text-black">almacen</span>
                            </span>
                        </p>
                        <p class="font-semibold text-gray-400 text-left pt-5">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                Acceso a <span class="text-black">analisis básicos</span>
                            </span>
                        </p>
                        <p class="font-semibold text-gray-400 text-left pt-5">
                            <span class="material-icons align-middle">
                                
                            </span>
                            <span class="pl-2">
                                <span class="text-black"></span> 
                            </span>
                        </p>

                        <a href="#" class="">
                            <p class="w-full py-4 bg-blue-600 mt-8 rounded-xl text-white">
                                <span class="font-medium">
                                    Elegir Plan
                                </span>
                                <span class="pl-2 material-icons align-middle text-sm">
                                    east
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
                <!-- Card -->
                <div class="w-80 p-8 bg-gray-900 text-center rounded-3xl text-white border-4 shadow-xl border-white transform scale-125">
                    <h1 class="text-white font-semibold text-2xl">PYMES</h1>
                    <p class="pt-2 tracking-wide">
                        <span class="text-gray-400 align-top">$ </span>
                        <span class="text-3xl font-semibold">19,99</span>
                    </p>
                    <hr class="mt-4 border-1 border-gray-600">
                    <div class="pt-8">
                        <p class="font-semibold text-gray-400 text-left">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                Predicción de<span class="text-white"> stock</span>
                            </span>
                        </p>
                        <p class="font-semibold text-gray-400 text-left pt-5">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                Automatiza <span class="text-white">pedidos</span>
                            </span>
                        </p>
                        <p class="font-semibold text-gray-400 text-left pt-5">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                <span class="text-white">Analitica </span> avanzada
                            </span>
                        </p>

                        <a href="#" class="">
                            <p class="w-full py-4 bg-blue-600 mt-8 rounded-xl text-white">
                                <span class="font-medium">
                                    Elegir Plan
                                </span>
                                <span class="pl-2 material-icons align-middle text-sm">
                                    east
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="absolute top-4 right-4">
                        <p class="bg-blue-700 font-semibold px-4 py-1 rounded-full uppercase text-xs">Popular</p>
                    </div>
                </div>
                <!-- Card -->
                <div class="w-96 p-8 bg-white text-center rounded-3xl pl-16 shadow-xl">
                    <h1 class="text-black font-semibold text-2xl">PREMIUM</h1>
                    <p class="pt-2 tracking-wide">
                        <span class="text-gray-400 align-top">$ </span>
                        <span class="text-3xl font-semibold">39,99</span>
                    </p>
                    <hr class="mt-4 border-1">
                    <div class="pt-8">
                        <p class="font-semibold text-gray-400 text-left">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                Todas las funcionalidades <span class="text-black">anteriores</span>
                            </span>
                        </p>
                        <p class="font-semibold text-gray-400 text-left pt-5">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                Gestor de <span class="text-black">campañas</span>
                            </span>
                        </p>
                        <p class="font-semibold text-gray-400 text-left pt-5">
                            <span class="material-icons align-middle">
                                done
                            </span>
                            <span class="pl-2">
                                <span class="text-black">Asesor</span> personal
                            </span>
                        </p>

                        <a href="#" class="">
                            <p class="w-full py-4 bg-blue-600 mt-8 rounded-xl text-white">
                                <span class="font-medium">
                                    Elegir Plan
                                </span>
                                <span class="pl-2 material-icons align-middle text-sm">
                                    east
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="show-section">

<h1 class="show-title">Todo lo que podemos hacer por ti</h1>

<div class="show-section-div">
    <div class="show-izquierda">
        <h1>Informacion Feature</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto deleniti voluptate dolorem! Impedit animi accusamus quos illo commodi earum dignissimos ipsa. Consectetur fugit animi perferendis magni ex commodi amet inventore?</p>
        <button class="btn btn-secondary">Something</button>
    </div>
    
    <div class="show-derecha">
        <div class="mockup-window border bg-base-300">
            <div class="flex justify-center px-4 py-16 bg-base-200 mockup"></div>
          </div>
    </div>
</div>

<div class="show-section-div">
    
    <div class="show-derecha2">
        <div class="mockup-window border bg-base-300">
            <div class="flex justify-center px-4 py-16 bg-base-200 mockup2"></div>
          </div>
    </div>
    <div class="show-izquierda2">
        <h1>Informacion Feature</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto deleniti voluptate dolorem! Impedit animi accusamus quos illo commodi earum dignissimos ipsa. Consectetur fugit animi perferendis magni ex commodi amet inventore?</p>
        <button class="btn btn-secondary">Something</button>
    </div>
</div>

<h1 class="show-title">Explora nuestra Dashboard</h1>

<div class="mockup-browser border bg-base-300 dash">
  <div class="mockup-browser-toolbar">
    <div class="input">https://smartstockmanager.com</div>
  </div>
  <div class="flex justify-center px-4 py-16 bg-base-200 mockup"></div>
</div>

</section>


{% endblock %}