{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<section class="sub-header">
  <h1 class="titulo-form">Listado de Clientes</h1>  
  <a href="{% url 'client_new' %}"><button class="btn btn-primary">Añadir Cliente</button></a>
</section>
<hr>
<section class="section-cards">
    {% for client in clients %}

    <div class="card w-96 bg-base-100 shadow-xl">
     <figure><img src="{{client.Imagen.url}}" alt=""  /></figure>
     <div class="card-body">
       <h2 class="card-title">{{client.Nombre}}</h2>
       <p>{{client.Contacto}}</p>
       <div class="card-actions justify-end">
         <a href="{% url 'client_get' client.ClienteID %}"><button class="btn btn-info">Modificar</button></a>
       
        <form action="{% url 'client_delete' client.ClienteID %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-error">Eliminar</button>
        </form>
        
        </div>
     </div>
    </div>
 
    {% endfor %}
</section>


{% endblock %}