/* ESTILOS GENERALES */

body{
    background-color: white;
    overflow-x: hidden;
}

main{
    margin: auto;
}

/* ESTILOS CARDS */

.sub-header{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.section-cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
    width: 300px !important;
}


/* ESTILOS DE FORMULARIOS */

.form-section{
    width: 60vw;
    margin: auto;
    padding: 30px;
}

.form-section form{
    display: flex;
    flex-direction: column;
}

.form-section form button{
    align-self: flex-end;
}

.titulo-form{
    font-size: 1.4rem;
}

hr{
    margin-bottom: 10px !important;
}

form input{
    margin: 10px;
    display: block;
}

.descripcion-form{
    margin: 10px;
    display: block;
}

.form-detail{
    flex-direction: row !important;
}


/* ESTILOS SECCION TABLAS Y FORMS*/

.section-table{
    width: 60vw;
    margin: auto;
    padding: 50px;
}

.form-title{
    width: 60vw;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 2px gray;
}

.form-section-detail{
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.form-section-detail form{
    display: flex;
}

.form-product{
    display: block;
    margin: 10px;
}

.btn-crear{
    margin: auto;
    margin-left: 50px;
}

/* ESTILOS INDEX LANDING */

/* HERO */
.title{
    font-size: 3.8rem !important;
    font-weight: 900;
    color: white;
}

.sub-title{
    color: white;
}

.btn-title{
    border: solid 2px #EF47BC !important;
    font-size: 1rem !important;
}


/* ENTERPRISES */
.enterprises-section{
    padding: 50px;
}

.enterprises-section h1{ 
    font-size: 1.4rem;
    text-align: center;
}

.enterprises-imgs{
    display: flex;
    margin: auto;
}

.enterprises-imgs img {
    margin: auto;
}


/* PRICING */
.pricing-section{
    margin-bottom: 50px;
}


/* SHOW */
.show-section{
    padding: 50px;
}

.show-title{
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 50px;
    text-align: center;
}

.show-section-div{
    display: flex;
}

.show-izquierda{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    h1{
        font-size: 2.4rem;
        font-weight: 600;
        margin: 20px;
    }
    p{
        margin: 20px;
    }
    button{
        margin: 20px;
    }
}

.show-derecha{
    width: 60%;
    position: relative;
    left: 15%;
}

.mockup{
    height: 500px;
    background-image: url('../images/der1.png');
    background-size: cover;
}

.show-izquierda2{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: end;
    h1{
        font-size: 2.4rem;
        font-weight: 600;
        margin: 20px;
    }
    p{
        margin: 20px;
    }
    button{
        margin: 20px;
    }
}

.show-derecha2{
    width: 60%;
    position: relative;
    left: -20%;
    margin-bottom: 50px;
    
}

.mockup2{
    height: 500px;
    background-image: url('../images/izq.png');
    background-size: cover;

}

.mockup3{
    height: 500px;
    background-image: url('../images/cen.png');
    background-size: cover;
}

.dash{
    max-width: 80vw;
    margin: auto;
}

/* PRODUCTOS */

