{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1>COMPRAS</h1>

<section class="section-cards">
    <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Fecha</th>
              <th>Proveedor</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for purchase in purchases %}
            <tr>
              <th>{{purchase.CompraID}}</th>
              <td>{{purchase.FechaCompra}}</td>
              <td>{{purchase.ProveedorID.Nombre}}</td>
              <td>{{purchase.Total}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

</section>


{% endblock %}