{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1>COMPRAS</h1> <button class="btn btn-primary"><a href="{% url 'purchase_new' %}">Nueva Compra</a></button>

<section class="section-cards">
    <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Fecha</th>
              <th>Proveedor</th>
              <th>Total</th>
              <th>Detalles</th>
            </tr>
          </thead>
          <tbody>
            {% for purchase in purchases %}
            <tr>
              <th>0000{{purchase.CompraID}}</th>
              <td>{{purchase.FechaCompra}}</td>
              <td>{{purchase.ProveedorID.Nombre}}</td>
              <td>{{purchase.Total}}</td>
              <td><a href="{% url 'purchase_get' purchase.CompraID %}">Ver más</a></td>
            </tr>
            {% endfor %}
          </tbody>
          <!-- <tbody>
            {% for pd in purchases_details %}
            <tr>
              <th>{{pd.CompraID.CompraID}}</th>
              <td>{{pd.ProductoID.ProductoID}}</td>
              <td>{{pd.ProductoID.Nombre}}</td>
              <td>{{pd.ProductoID.Precio}}</td>
            </tr>
            {% endfor %}
          </tbody> -->
        </table>
      </div>

</section>


{% endblock %}