{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1>COMPRAS</h1>

<section class="section-table">
    <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Fecha</th>
              <th>Cliente</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>0000{{sale.VentaID}}</th>
              <td>{{sale.FechaVenta}}</td>
              <td>{{sale.ClienteID.Nombre}}</td>
              <td>{{sale.Total}}</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th></th>
              <th>Producto</th>
              <th>Precio Und</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            {% for sd in sale_details %}
            <tr>
              <th>{{sd.VentaID.VentaID}}</th>
              <td>{{sd.ProductoID.Nombre}}</td>
              <td>{{sd.ProductoID.Precio}}</td>
              <td>{{sd.Cantidad}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

</section>

<h1 class="form-title"> Nueva Venta </h1>
<section class="form-section-detail">


  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}

    {{form}}

    <button class="btn btn-primary btn-crear">Crear</button>
  </form>
</section>



{% endblock %}