{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<section class="sub-header">
  <h1>Ventas</h1>    
  <a href="{% url 'sale_new' %}"><button class="btn btn-primary">Nueva Venta</button></a>
</section>

<section class="section-table">
    <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Fecha</th>
              <th>Proveedor</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for sale in sales %}
            <tr>
              <th>0000{{sale.VentaID}}</th>
              <td>{{sale.FechaVenta}}</td>
              <td>{{sale.ClienteID.Nombre}}</td>
              <td>{{sale.Total}}</td>
              <td><a href="{% url 'sale_get' sale.VentaID %}">Ver más</a></td>

              <td> <form action="{% url 'sale_delete' sale.VentaID %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-primary">Eliminar</button>
              </form></td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

</section>


{% endblock %}