{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1>Ventas</h1>

<section class="section-cards">
    <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Fecha</th>
              <th>Proveedor</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for sale in sales %}
            <tr>
              <th>{{sale.VentaID}}</th>
              <td>{{sale.FechaVenta}}</td>
              <td>{{sale.ClienteID.Nombre}}</td>
              <td>{{sale.Total}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

</section>


{% endblock %}